.hero{

background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438");

background-size:cover;
background-position:center;

padding:140px 0;

}

.workout-card{

transition:0.3s;

}

.workout-card:hover{

transform:translateY(-10px);

}

a{

text-decoration:none;

}

a:hover{

text-decoration:underline;

}